1. Write a python code to take in an integer input and store it in a variable a.

In [13]:
a = int(input('Enter any integer number:'))

Enter any integer number: 24

2.Display a's typecast.

In [15]:
print(type(a))

<class 'int'>

3.Print 'True' if a is greater than or equal to 5, 'False' otherwise

In [17]:
if a>=5:
    print('True')
else:
    print('False')

True

4.Take a string input of your name and store it as a list of separate letters.
 e.g. if your name is Rahul, take input of your name and store it in a list containing ['R','a','h','u','l']. Name the list as 'l'. Print 'l'.

In [19]:
name = input('Enter your name :')
l=[i for i in name]
print(l)

Enter your name : Ruchika

['R', 'u', 'c', 'h', 'i', 'k', 'a']

In [21]:
# or
l2=[]
for i in name:
    l2.append(i)

print(l2)

['R', 'u', 'c', 'h', 'i', 'k', 'a']

5.Take a string input and print all the unique letters of the string.(pass in your string as all lowercase) e.g: string: 'india', output: {'i','n','d','a'}

In [25]:
string = input('Enter input:')
string = string.lower()
new_string = set(string)
print(new_string)

Enter input: India

{'a', 'd', 'n', 'i'}

6.Print the sum of numbers from 1 to n where n is the input by the user.

In [27]:
n = int(input('Enter an integer:'))
sum = 0
for i in range(1,n+1):
    sum=sum+i

print(sum)

Enter an integer: 10

55

7.Print all the even numbers between 1 to n where n is the input given by user.

In [29]:
n=int(input())
for i in range(1,n+1):
    if i%2==0:
        print(i)

 10

2
4
6
8
10

In [33]:
# or
for i in range(0,n+1,2):
    print(i)

0
2
4
6
8
10

8.Print all the numbers from n to 1 in reverse order. e.g.: let n = 10, output = 10 9 8 7 6 5 4 3 2 1

In [35]:
n=int(input())
for i in range(n,0,-1):
    print(i)

 10

10
9
8
7
6
5
4
3
2
1

9.A factorial of a number is defined as n! = n*(n-1)(n-2)(n-3)*....*1. Write a python code to display factorial of a number n.

In [45]:
n=int(input())
for i in range(n-1,0,-1):
    n=n*i

print(n)

 3

6

10. Print multiplication table of an integer n. 
- n x 1 = n
- n x 2 = 2n
- 
- 
- so on... till 10.

In [47]:
n = int(input())
for i in range(1,11):
    print(n*i)

 5

5
10
15
20
25
30
35
40
45
50