##### 1 WAP to sum all the items in a list

In [1]:
list1=[24,36,18,79,30,49,63]
sum=0
for i in list1:
    sum=sum+i
    i=i+1
print(sum)

299

##### 2 WAP to multiply all the items on a list

In [3]:
list2=[2,3,5,8,9,6,4]
m=1
for i in list2:
    m=m*i
    i=i+1
print(m)

51840

##### 3 WAP to get the largest number from a list

In [26]:
my_list=[10,25,47,3,89,56]
max_value=my_list[0]
for num in my_list:
    if num>max_value:
        max_value=num
print(max_value)

89

##### 4 WAP to get the smallest number from a list

In [15]:
my_list=[10,25,47,3,89,56]
min_value=my_list[0]
for num in my_list:
    if num<min_value:
        min_value=num
print(min_value)

3

##### 5 WAP to count the number of strings from a given list of strings.The string length is 2 or more and the first and the last characters are 
#####    same.

In [19]:
list_1=['abc','xyz','aba','1221']
count=0
for i in list_1:
    if len(i)>=2 and i[0]==i[-1]:
        count=count+1
print(count)

2

##### 6 WAP to remove duplicates from a list.

In [15]:
list1=[-12,20,-27,20,45,-12,60]
for i in list1:
    count1=list1.count(i)
    if count1>1:
        list1.remove(i)
list1

[-27, 20, 45, -12, 60]

##### 7 WAP to check if a list is empty or not.

In [35]:
list1=[]
if not list1:
    print("Empty list")
else:
    print("Non empty list")

Empty list

In [41]:
#
list1=[1,2,3]
if not list1:
    print("Empty list")
else:
    print("Non empty list")

Non empty list

##### 8 WAP to clone or copy a list

In [39]:
list1=['one','two','three','four']
list2=[]
for i in list1:
    list2.append(i)
list2

['one', 'two', 'three', 'four']

##### 9 WAP to  find the list of words that are longer than n from a givin list of words.

In [43]:
list1=["The","quick","brown","fox"]
list2=[]
n=3
for i in list1:
    if len(i)>n:
        list2.append(i)
list2

['quick', 'brown']

##### 10 WAP that takes two lists and return true if they have at leat one common member.

In [16]:
list1=[1,2,3,4,5]
list2=[5,6,7,8,9]
for i in list1:
    for j in list2:
        if i==j:
            print(True)
            list2.remove(j)
print("common data",list1,list2)

True
common data [1, 2, 3, 4, 5] [6, 7, 8, 9]