##### 1 WAP to create a set.

In [31]:
set1={1,2,3,4}
print(type(set1))
print(set1)

<class 'set'>
{1, 2, 3, 4}

##### 2 WAP to iterate over sets

In [68]:
s2={8,3,4,5,7}
for i in s2:
    print(i)

3
4
5
7
8

##### 3 WAP to add members to a set

In [33]:
set1.update({5,6,7,8})
set1

{1, 2, 3, 4, 5, 6, 7, 8}

##### 4 WAP to remove an item from a set if it is present in a set.

In [51]:
num=int(input('Enter a number'))
s1={4,8,7,2,3,6,5}
if num in s1:
    s1.remove(num)
    print(s1)
else :
    print("Entered number is not present in the list")

Enter a number 8

{2, 3, 4, 5, 6, 7}

#### 5 WAP to remove item from a given set

In [35]:
set1.pop()         # to remove single element
set1

{2, 3, 4, 5, 6, 7, 8}

In [37]:
set1.remove(5)      # to remove a particular element
set1

{2, 3, 4, 6, 7, 8}

In [39]:
set1.clear()        # to remove all elements from a set
set1

set()

In [3]:
set2={4,5,3,6,9}
while set2:
    set2.pop()
set2

set()

##### 6 WAP to create an intersections of sets

In [6]:
A={1,2,3,4,5}
B={4,5,6,7,8}
A.intersection(B)

{4, 5}

##### 7 WAP to create a union of sets

In [9]:
A={1,2,3,4,5}
B={4,5,6,7,8}
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

##### 8 WAP to create set difference

In [12]:
A={1,2,3,4,5}
B={4,5,6,7,8}
print(A.difference(B))
print(B.difference(A))

{1, 2, 3}
{8, 6, 7}

##### 9 WAP to create symmetric difference

In [14]:
A={1,2,3,4,5}
B={4,5,6,7,8}
i=A.intersection(B)
u=A.union(B)
sym=u-i
sym

{1, 2, 3, 6, 7, 8}

##### 10 WAP to check if a set is a subset of another set

In [22]:
A={1,2,3,4,5}
B={4,5}
B.issubset(A)

True