##### 1 WAP to display letter of the word

In [7]:
word='Coder'
new = ''
for i in word:
    new=new+i
    print(new)

C
Co
Cod
Code
Coder

##### 2 K-pattern

In [16]:
n=4
for i in range(1,n+1):
    for j in range(i,n+1):
        print('*',end=' ')
    print()

for i in range(2,n+1):
    for j in range(1,i+1):
        print('*',end=' ')
    print()

* * * *
* * *
* *
*
* *
* * *
* * * *

##### 3 WAP to create a tuple.

In [5]:
t1=(7,5,48,6,32,1)
print(type(t1))

<class 'tuple'>

##### 4 WAP to create a tuple with different data types.

In [11]:
t1=("Tuple",34,88.41,True)
print(t1)
print(type(t1))

('Tuple', 34, 88.41, True)
<class 'tuple'>

##### 5 WAP to add an item into a tuple.

In [17]:
t1=(78,32,14,65,91,20)
t1=t1+(37,)
t1

(78, 32, 14, 65, 91, 20, 37)