1. Write a python code to take in an integer input and store it in a variable a.

In [11]:
a=int(input('Enter a number :'))

Enter a number : 24

2. Display a's typecast.

In [13]:
print(type(a))

<class 'int'>

3. Print 'True' if a is greater than or equal to 5, 'False' otherwise.

In [15]:
if a>=5:
    print('Ture')
else:
    print('False')

Ture

4. Take a string input of your name and store it as a list of separate letters.
 e.g. if your name is Rahul, take input of your name and store it in a list containing ['R','a','h','u','l']. Name the list as 'l'. Print 'l'.

In [11]:
name = input('Enter your name :')
list1=[]
for i in name:
    list1.append(i)

print(list1)

Enter your name : Ruchika

['R', 'u', 'c', 'h', 'i', 'k', 'a']

5. Take a string input and print all the unique letters of the string.(pass in your string as all lowercase) e.g: string: 'india', output: {'i','n','d','a'}

In [17]:
str = 'India'
uniq = set(str)
uniq

{'I', 'a', 'd', 'i', 'n'}

6. Print the sum of numbers from 1 to n where n is the input by the user.

In [19]:
n=int(input())
sum=0
for i in range(1,n):
    sum=sum+i

print(sum)

 11

55

7. Print all the even numbers between 1 to n where n is the input given by user.

In [21]:
n=int(input())
for i in range(1,n):
    if i%2==0:
        print(i)

 10

2
4
6
8

8. Print all the numbers from n to 1 in reverse order. e.g.: let n = 10, output = 10 9 8 7 6 5 4 3 2 1

In [23]:
n=10
for i in range(n,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

9. A factorial of a number is defined as n! = n*(n-1)*(n-2)*(n-3)*....*1. Write a python code to display factorial of a number n.

In [25]:
n=int(input())
a=1
for i in range(n,0,-1):
    a=a*i

print(a)

 5

120

10. Print multiplication table of an integer n. 
- n x 1 = n
- n x 2 = 2n
- 
- 
- so on... till 10.

In [27]:
n=int(input())
for i in range(1,11):
    print(n*i)

 5

5
10
15
20
25
30
35
40
45
50