##### Pattern 1 : Floyd Triangle

In [5]:
n=4
p=1
for i in range(1,n+1):
    for j in range(1,i+1):
        print(p,end=' ')
        p=p+1
    print()

1
2 3
4 5 6
7 8 9 10

##### 2 WAP to print A using '*'

In [1]:
for row in range(7):
    for col in range(5):
        if ((col==0 or col==4) and row!=0) or ((row==0 or row==3) and (col>0 and col<4)):
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

  * * *
*       *
*       *
* * * * *
*       *
*       *
*       *

##### 3 WAP to print B using '*'

In [3]:
for row in range(7):
    for col in range(5):
        if (col==0 or (col==4 and row!=0 and row!=6)) or ((row==0 or row==3 or row==6 ) and (col>0 and col<4)):
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

* * * *
*       *
*       *
* * * * *
*       *
*       *
* * * *

##### 4 WAP to print C using '*'

In [5]:
for row in range(7):
    for col in range(5):
        if (col==0 and (row!=0 and row!=6)) or ((row==0 or row==6) and (col>0)):
            print('*',end=' ')
        else: print(' ',end=' ')
    print()

  * * * *
*
*
*
*
*
  * * * *

##### 5 WAP to print D using '*'

In [7]:
for row in range(7):
    for col in range(5):
        if (col==0) or (col==4 and (row!=0 and row!=6)) or ((row==0 or row==6) and (col!=0 and col!=4) ):
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

* * * *
*       *
*       *
*       *
*       *
*       *
* * * *

##### 6 WAP to calculate factorial of a number using while loop

In [21]:
n=7
fact=1
while n>0:
    fact=fact*n
    n=n-1
print(fact)

5040

##### 7 calculate the sum of numbers from 1 to 100 using a while loop

In [5]:
num=1
sum=0
while num<=100:
    sum=sum+num
    num+=1
print(sum)

5050

##### 8 WAP to find all the prime numbers between 1 and 50 using nested for and if

In [4]:
for num in range(1,51):
    for j in range(2,num):
        if num%j==0:
            break
    else:
        print(num)

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

##### 9 WAP to print numbers divisible by 3 or 5 from 1 to 20 using a for loop

In [10]:
for i in range(1,21):
    if i%3==0 or i%5==0:
        print(i)

3
5
6
9
10
12
15
18
20

##### 10 WAP to print a list of numbers from 1 to 5 using a list comprehension

In [16]:
sq=[num**2 for num in range(1,6)]
print(sq)

[1, 4, 9, 16, 25]