##### 1 WAP to print hollow triangle

In [37]:
n=int(input('Enter no. of rows'))
for row in range(1,n+1):
    for col in range(1,2*n):
        if row==4 or col+row==5 or col-row==3:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

Enter no. of rows 4

      *
    *   *
  *       *
* * * * * * *

##### 2 WAP to print stars in hollow diamond shape

In [55]:
for row in range(5):
    for col in range(5):
        if row+col==2 or col-row==2 or row-col==2 or (row==3 and col==3):
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

    *
  *   *
*       *
  *   *
    *

##### 3 WAP to print stars in hollow square shape

In [72]:
n=5
for row in range(n):
    for col in range(n):
        if (row==0 or row==4) or ((col==0 or col==4) and (row>0 and row<4)):
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

* * * * *
*       *
*       *
*       *
* * * * *

##### 4 WAP to print stars in hollow increasing triangle

In [78]:
n=5
for row in range(n):
    for col in range(5):
        if col==0 or (row==4 and col!=0) or row==col:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

*
* *
*   *
*     *
* * * * *

##### 5 WAP to print stars in hollow decreasing triangle

In [84]:
n=5
i=1
j=3
for row in range(n):
    for col in range(n):
        if col==0 or (row==0 and col!=0) :
            print('*',end=' ')
        elif row==i and col==j:
            print('*',end=' ')
            i=i+1
            j=j-1
        else:
            print(' ',end=' ')
    print()

* * * * *
*     *
*   *
* *
*

##### 6 WAP that prints the calendar for a given month and year

In [88]:
import calendar
y = int(input('Enter year: '))
m = int(input('Enter month: '))
print(calendar.month(y,m))

Enter year:  2002
Enter month:  3

     March 2002
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

##### 7 WAP to print the following 'here document'

In [92]:
print("""
a string that you "don't" have to escape
This
is a ......... multi-line
heredoc string .........> example
""")

a string that you "don't" have to escape
This
is a ......... multi-line
heredoc string .........> example

##### 8 WAP to get the volume of a sphere

In [98]:
from math import pi
r=6
v=(4/3)*pi*(r**3)
print('Volume of sphere: ',v)

Volume of sphere:  904.7786842338603

##### 9 WAP to calculate the difference between a given no. and 17, if the no. is greater than 17,return twice the absolute difference

In [114]:
n=int(input('Enter any number'))
if n<=17:
    print(17-n)
else:
    print(2*(n-17))

Enter any number 14

3

##### 10 WAP to calculate the sum of three given no. if the values are equal, return three times of their sum

In [118]:
a=int(input('Enter any number a:'))
b=int(input('Enter any number b:'))
c=int(input('Enter any number c:'))
if a==b and b==c:
    print((a+b+c)*3)
else:
    print(a+b+c)

Enter any number a: 1
Enter any number b: 2
Enter any number c: 3

6