#### 1 WAP to accept the electric units from the user and caculate the bill according to the following rates
##### first 100 units: Free
##### Next 200 units: Rs 2 per day
##### Above 300 units: Rs 5 per day

In [5]:
units=int(input("Enter units"))
Bill=0
if units<=100:
    Bill=0
    print(Bill)
elif units>100 and units<=300:
    Bill=(num-100)*2
    print(Bill)
elif units>300:
    Bill=400+(units-300)*5
    print(Bill)

Enter units 700

2400

#### 2 Accept the number of days from the user and calculate the charge for library according to the following:
##### Till five days:Rs 2/day
##### six to ten days:Rs 3/day
##### 11 to 15 days: Rs 4/day
##### After 15 days : Rs 5/day

In [22]:
days=int(input("Enter number of days :"))
charge=0
if days<=5:
    charge=days*2
elif days>=6 and days<=10:
    charge=days*3
elif days>=11 and days<=15:
    charge=days*4
elif days>15:
    charge=days*5
print("Total charge to pay :",charge)

Enter number of days : 2

Total charge to pay : 4

#### 3 Accept the kilometers covered and calculate the bill according to the following criteria
##### First 10 km : Rs 11/km
##### next 90km : Rs 10/km
##### After that : Rs 9/km

In [28]:
km=int(input("Enter kilometers covered :"))
bill=0
if km<=10:
    bill=km*11
elif km<=90:
    bill=(10*11)+(km-10)*10
elif km>90:
    bill=110+900+(km-100)*9
print("Total bill to pay :",bill)

Enter kilometers covered : 120

Total bill to pay : 1190

#### 4 Acceptthe marks of English, Math and Science , Social Studies Subject and diplay the stream allotted according to following
##### All subjects more than 80marks - Science stream
##### English>80and Math , Social Studies above 50 - Commerce stream
##### English>80 and , Social studies >80 - Humanities

In [42]:
s1=int(input("Enter your marks of English :"))
s2=int(input("Enter your marks of Math :"))
s3=int(input("Enter your marks of Science :"))
s4=int(input("Enter your marks of social studies :"))
if s1>80 and s2>80 and s3>80 and s4>80:
    print("Science stream")
elif s1>80 and s2>50 and s3>50:
    print("Commerce Stream")
elif s1>80 and s4>80:
    print("Humanities")

Enter your marks of English : 96
Enter your marks of Math : 82
Enter your marks of Science : 87
Enter your marks of social studies : 60

Commerce Stream

#### 5 WAP to convert the month name to a number of days

In [49]:
m=["January","February","March","April","May","June","July","August","September","October","November","Decemmber"]
for i in m:
    if i=="February":
        print("No. of days in",i,"are 28 or 29")
    elif i in ("January","March","May","July","August","October","December"):
        print("No. of days in",i,"are 31")
    elif i in ("April","June","September","November"):
        print("No. of days in",i, "are 30")

No. of days in January are 31
No. of days in February are 28 or 29
No. of days in March are 31
No. of days in April are 30
No. of days in May are 31
No. of days in June are 30
No. of days in July are 31
No. of days in August are 31
No. of days in September are 30
No. of days in October are 31
No. of days in November are 30

#### 6 WAP to print prime numbers

In [61]:
for num in range(1,50):
    for i in range(2,num):
        if num%i==0:
            break
    else:
        print(num)

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

#### 7 WAP to find the factrial of a given number

In [86]:
num=5
fact=1
for i in range(1,num+1):
    fact=fact*i
    i=i+1
print(fact)

120

#### 8 WAP to get the Faboncci series between 0 to 10

In [98]:
n1=0
n2=1
for i in range(0,10):
    n3=n1+n2
    n1=n2 
    n2=n3
    print(n3)

1
2
3
5
8
13
21
34
55
89

#### 9 WAP to check if a given number is Armstrong number or not.

In [4]:
n=int(input("Enter a number"))
a=str(n)
sum=0
for i in a:
   sum=sum+int(i)**3
print(sum)
if sum==n:
    print("Entered number is an Armstrong number")
else:
    print("Entered number is not an Armstrong number")

Enter a number 153

153
Entered number is an Armstrong number

#### 10 WAP to check the validity of password input by user

In [26]:
password=input("Enter password")
has_valid_length=False
has_lowercase=False
has_upeercase=False
has_digits=False
has_special_character=False
if (len(password)>=8) and (len(password)<=16):
    has_valid_length=True
    for i in password:
        if i.islower():
            has_lowercase=True
        elif i.isupper():
            has_upeercase=True
        elif i.isdigit():
            has_digits=True
        elif (i=='@' or i=='#'or i=='$' or i=='&'or i=='*'):
            has_special_character=True

if(has_valid_length==True and has_lowercase==True and has_upeercase==True and has_digits==True and has_special_character==True):
    print("Valid password")
else:
    print("Invalid password")

Enter password Abcdefg123@

Valid password