In [3]:
# Write a python code to take in an integer input and store it in a variable a.

In [1]:
a = int(input())

 24

In [5]:
# Display a's typecast.

In [9]:
print(type(a))

<class 'int'>

In [ ]:
# Print 'True' if a is greater than or equal to 5, 'False' otherwise

In [11]:
if a >= 5 :
    print('Ture')
else:
    print('Flase')

Ture

In [13]:
# Take a string input of your name and store it as a list of separate letters. e.g. if your name is Rahul, take input of your name and store it in a list containing ['R','a','h','u','l']. Name the list as 'l'. Print 'l'.

In [16]:
name = str(input())
l1 = list(name)
print(l1)

 Ruchika

['R', 'u', 'c', 'h', 'i', 'k', 'a']

In [ ]:
# Take a string input and print all the unique letters of the string.(pass in your string as all lowercase) e.g: string: 'india', output: {'i','n','d','a'}

In [18]:
string = str(input())
s = set(string)
print(s)

 seema

{'s', 'a', 'm', 'e'}

In [ ]:
# Print the sum of numbers from 1 to n where n is the input by the user.

In [22]:
n = int(input())
sum = 0
for i in range(1,n+1):
    sum = sum+i
    i = n+1
print(sum)

 10

55

In [26]:
n = 10
for i in range(1,n):
    n= n+i
print(n)

55

In [ ]:
# Print all the even numbers between 1 to n where n is the input given by user.

In [36]:
n = int(input())
for i in range(1,n+1):
    if i%2 == 0:
        print(i)

 10

2
4
6
8
10

In [ ]:
# Print all the numbers from n to 1 in reverse order. e.g.: let n = 10, output = 10 9 8 7 6 5 4 3 2 1

In [44]:
n=int(input())
for i in range(n,0,-1):
    print(i)

 10

10
9
8
7
6
5
4
3
2
1

In [ ]:
# A factorial of a number is defined as n! = n*(n-1)(n-2)(n-3)*....*1. Write a python code to display factorial of a number n.

In [60]:
n = int(input())
a = 1
for i in range(1,n+1):
    a= a*i
    i = i-1
print(a)

 5

120

In [62]:
# Print multiplication table of an integer n.
# n x 1 = n
# n x 2 = 2n
# so on... till 10.

In [70]:
n=2
for i in range(1,11):
   print(n*i)

2
4
6
8
10
12
14
16
18
20

In [74]:
n = 2
a= 1
for i in range(1,11):
    a= n*i
    print(a)

2
4
6
8
10
12
14
16
18
20