##### 1 WAP to print all even numbers from a given list of numbers in the same order and stop printing any after 237 in the sequence.

In [13]:
numbers=[386,245,631,248,359,157,642,203,201,237,169,487,206,594,310,658,974]
for i in numbers:
    if i==237:
        print(i)
        break
    elif i%2==0:
        print(i)

386
248
642
237

##### 2 WAP thet print out all colors from color list1 that are not present in list2

In [23]:
list1=set(['White','Black','Red'])
list2=set(['Red','Green'])
new_list=list1 - list2
new_list

{'Black', 'White'}

##### 3 WAP program to sum there given integers. However, if two values are equal, the sum will be zero

In [31]:
def sum(x,y,z):
    if x==y or y==z or x==z:
        sum=0
    else:
        sum=x+y+z
    return sum

print(sum(1,2,3))
print(sum(2,3,2))

6
0

##### 4 WAP to sum two given integers.However, if the sum is between 15 and 20 it will return 20

In [3]:
def num(a,b):
    sum=a+b
    if sum in range(15,20):
        return 20
    else:
        return sum

print(num(10,6))
print(num(12,9))

20
21

##### 5 WAP to sum two given integers.However if the sum is bertween 15 and 20 it will return 20.

In [21]:
def num(x,y):
    if x==y or x+y==5 or x-y==5:
        return True
    else:
        return False

print(num(5,5))
print(num(10,5))
print(num(70,68))
print(num(7,3))

True
True
False
False

##### 6 WAP to add two objects if both objects are integers.

In [27]:
def sum(a,b):
    if not (isinstance(a,int) and isinstance(b,int)):
        return 'Inputs must be integers'
    else:
        return a+b

print(sum(4,39))
print(sum(2.5,8))

43
Inputs must be integers

##### 7 WAP that displays your name,age,and address on three different lines

In [55]:
def info():
    name='Ruchika'
    age=22
    address='Mumbai'
    print('Name:{}\nAge:{}\nAddress:{}'.format(name,age,address))

info()

Name:Ruchika
Age:22
Address:Mumbai

##### 8 WAP to solve (x+y)*(x+y)

In [69]:
def num(x,y):
    result=(x+y)*(x+y)
    return result
num(4,3)

49

##### 9 WAP to compute the future value of a specified principal amount, rate of interest and no. of years.

In [75]:
amt=10000
int=3.5
years=7
future_value = amt *((1+(0.01*int))**years)
print(round(future_value,2))

12722.79

##### 10 WAP to calculate the distance between the two points(x1,y1) and (x2,y2)

In [87]:
import math
p1 = [4,0]
p2 = [6,6]
distance = math.sqrt(((p1[0]-p2[0])**2)+((p1[1]-p2[1])**2))
print(distance)

6.324555320336759