##### 1 WAP to print U using '*'

In [2]:
for row in range(7):
    for col in range(5):
        if ((col==0 or col==4) and row!=6) or (row==6 and (col>0 and col<4)):
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

*       *
*       *
*       *
*       *
*       *
*       *
  * * *

##### 2 WAP to print V using '*'

In [25]:
i=0 
j=6
for row in range(4):
    for col in range(7):
        if row==col :
            print('*',end='')
        if row==i and col==j and i!=j:
            print('*',end='')
            i=i+1
            j=j-1
        else:
            print(' ',end='')
    print()

*      *
 *    *
  *  *
   *

##### 3 WAP to print W using '*'

In [35]:
for row in range(4):
    for col in range(7):
        if col==0 or col==6 or (row==2 and (col==1 or col==5)) or ((row==1 and (col==2 or col==4))) or (row==0 and col==3) :
            print('*',end='')
        else:
            print(' ',end='')
    print()

*  *  *
* * * *
**   **
*     *

##### 4 WAP to print X using '*'

In [72]:
i=0
j=4
for row in range(5):
    for col in range(5):
        if  row==i and col==j:
            print('*',end='')
            i=i+1
            j=j-1
        elif row==col:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

*       *
  *   *
    *
  *  *
*      *

##### 5 WAP to print Y using '*'

In [70]:
for row in range(5):
    for col in range(5):
        if (col==2 and row>1) or (row==0 and (col==0 or col==4)) or (row==1 and (col==1 or col==3)):
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

*       *
  *   *
    *
    *
    *

##### 6 WAP to print Z using '*'

In [105]:
i=1
j=4
for row in range(6):
    for col in range(6):
        if row==0 or row==5:
            print('*',end=' ')
        elif row==i and col==j:
            print('*',end=' ')
            i=i+1
            j=j-1
        else:
            print(' ',end=' ')
    print()

* * * * * *
        *
      *
    *
  *
* * * * * *

##### 7 WAP to print hollow triangle

In [5]:
n=int(input('Enter no. of rows'))
for row in range(1,n+1):
    for col in range(1,2*n):
        if row==4 or col+row==5 or col-row==3:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

Enter no. of rows 4

      *
    *   *
  *       *
* * * * * * *

##### 8 WAP to print stars in hollow diamond shape

In [9]:
for row in range(5):
    for col in range(5):
        if row+col==2 or col-row==2 or row-col==2 or (row==3 and col==3):
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

    *
  *   *
*       *
  *   *
    *

##### 9 WAP to print stars in hollow square shape

In [17]:
n=5
for row in range(n):
    for col in range(n):
        if (row==0 or row==4) or ((col==0 or col==4) and (row>0 and row<4)):
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

* * * * *
*       *
*       *
*       *
* * * * *

##### 10 WAP to print stars in hollow increasing triangle

In [21]:
n=5
for row in range(n):
    for col in range(5):
        if col==0 or (row==4 and col!=0) or row==col:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

*
* *
*   *
*     *
* * * * *