### 1 WAP to print first 10 Natural numbers

In [5]:
for i in range(0,11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

### 2 WAP to print all the even numbers within the given range

In [9]:
for i in range(1,11):
    if i%2==0:
        print(i)

2
4
6
8
10

### 3 WAP to caculate the sum of all numbers from 1 to a given number

In [1]:
a=0
for i in range(1,11):
    a=a+i
    print(a)

1
3
6
10
15
21
28
36
45
55

### 4 WAP to calculate the sum of all the odd numbers within the given range

In [5]:
sum=0
for i in range(1,20):
    if i%2!=0:
        sum=sum+i
        print(sum)

1
4
9
16
25
36
49
64
81
100

### 5 WAP to print multiplication table of a given number

In [10]:
n=int(input("Enter any number"))
for i in range(1,11):
    print(i*n)

Enter any number 5

5
10
15
20
25
30
35
40
45
50

### 6 WAP to to display numbers from a list using a for loop

In [20]:
list1=[1,2,3,4,5,6,7,8,9,10]
for i in list1:
    print(i)

1
2
3
4
5
6
7
8
9
10

### 7 WAP to count the total no. of digits in a number

In [36]:
n=4587
m=str(n)
count=0
for i in m:
    count=count+1
print(count)

4

### 8 WAP to check if the given string is a palindrome

In [53]:
string=str(input("Enter any string"))
reverse=""
for i in string:
    reverse=i+reverse
print(reverse)
if string==reverse:
    print("Entered string is a palindrome")
else:
    print("Entered string is not a palindrome")

Enter any string mom

mom
Entered string is a palindrome

### 9 WAP to accept a word from the user and reverse it

In [57]:
word=str(input("Enter any word"))
reverse=""
for i in word:
    reverse=i+reverse
print(reverse)

Enter any word google

elgoog

### 10 WAP to count number of even and odd numbers from a series of numbers

In [75]:
count1=0
count2=0
for i in range(1,16):
    if i%2==0:
        count1=count1+1
    elif i%2!=0:
        count2=count2+1
print(count1)
print(count2)

7
8