##### 1 Find the mean of each row in a 2D list.

In [3]:
import random
matrix = [[random.random() for _ in range(3)] for _ in range(3)]
row_means = [sum(row)/len(row) for row in matrix]
row_means

[0.45338570411990525, 0.5591422859481984, 0.6125565594377727]

##### 2 Create a random 4x4 list of lists and extract the diagonal elements.

In [15]:
import random
matrix = [[random.random() for _ in range(4)] for _ in range(4)]
diagonal_elements = [matrix[i][i] for i in range(4)]
diagonal_elements

[0.28750561711038747,
 0.8175692764328376,
 0.9084368306714917,
 0.1655801404367947]

##### 3 Count the number of occurences of a specific value in a list.

In [20]:
lst = [1,4,8,7,4,9,4]
count_of_4 = lst.count(4)
print(count_of_4)

3

##### 4 Replace all values in a list with the mean of the list.

In [31]:
lst = [10,20,30,40,50]
mean_val = sum(lst)/len(lst)
lst1=[mean_val] * len(lst)
print(lst1)

[30.0, 30.0, 30.0, 30.0, 30.0]

##### 5 Find the indices of the maximum and minimum values in a list.

In [36]:
lst = [5,2,8,1,7]
max_index = lst.index(max(lst))
min_index = lst.index(min(lst))
print("Index of max :",max_index)
print("Index of min :",min_index)

Index of max : 2
Index of min : 3