Reverse a given integer number e.g: input: 5619, output: 9165

In [8]:
n=5619
rem=0
rev=0
while n>0:
    rem=n%10
    rev=(rev*10)+rem
    n=n//10

print(rev)

9165

Print the following pattern.

* 
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * * 
* * 
*

In [17]:
n=5
for i in range(1,n+1):
    for j in range(1,i+1):
        print('*',end=' ')
    print()

for i in range(2,n+1):
    for j in range(i,n+1):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

Return the count of a given substring from a string.

In [20]:
string = "India is a developing country. India is a democracy"
substring_count = string.count('India')
print(substring_count)

2

In [22]:
# or
string = "India is a developing country. India is a democracy"
cnt = 0
str = string.split(' ')
for i in str:
    if i=='India':
        cnt+=1

print(cnt)

2

Count the number of vowels in the given string.

In [25]:
a = input().lower()
count=0
for x in a:
    if x=='a' or x=='e' or x=='i' or x=='o' or x=='u':
        count+=1

print('Count of vowels in a given string is ', count)

 typewriter

Count of vowels in a given string is  3

Calculate salary of an employee.

If their score>5 salary = salary + score x 0.1 x salary

If thei score<=5, salary = salary + score x 0.05 x salary

In [28]:
score = int(input('Enter score\n'))
salary = int(input('Enter salary\n'))
if score>5:
    salary = salary + score*0.1*salary
else:
    salary = salary + score*0.05*salary

print('Your salary is ',salary)

Enter score
 7
Enter salary
 20000

Your salary is  34000.0