1. Write a python code to take in an integer input and store it in a variable a.

In [2]:
a = int(input())

 24

2. Display a's typecast.

In [4]:
print(type(a))

<class 'int'>

3. Print 'True' if a is greater than or equal to 5, 'False' otherwise.

In [6]:
if a>5:
    print('True')
else:
    print('False')

True

4. Take a string input of your name and store it as a list of separate letters. e.g. if your name is Rahul, take input of your name and store it in a list containing ['R','a','h','u','l']. Name the list as 'l'. Print 'l'.

In [8]:
name = input('Enter your name :')
list_letters = [i for i in name]
print(list_letters)

Enter your name : Ruchika

['R', 'u', 'c', 'h', 'i', 'k', 'a']

5. Take a string input and print all the unique letters of the string.(pass in your string as all lowercase) e.g: string: 'india', output: {'i','n','d','a'}

In [14]:
string = input('Enter any word in small letters:')
uniq_letter = {i for i in string}
print(uniq_letter)

Enter any word in small letters: india

{'a', 'n', 'i', 'd'}

6. Print the sum of numbers from 1 to n where n is the input by the user.

In [18]:
n = int(input('Enter a number here:'))
sum = 0
for i in range(1,n+1):
    sum+=i
print(sum)

Enter a number here: 10

55

7. Print all the even numbers between 1 to n where n is the input given by user.

In [20]:
n = int(input('Enter a numbere :'))
for i in range(1,n+1):
    if i%2==0:
        print(i)

Enter a numbere : 10

2
4
6
8
10

8. Print all the numbers from n to 1 in reverse order. e.g.: let n = 10, output = 10 9 8 7 6 5 4 3 2 1

In [22]:
n = 10
for i in range(n,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

9. A factorial of a number is defined as n! = n*(n-1)*(n-2)*(n-3)*....*1. Write a python code to display factorial of a number n.

In [24]:
n = 5
fact = 1
for i in range(n,0,-1):
    fact=fact*i

print(fact)

120

10. Print multiplication table of an integer n. 
- n x 1 = n
- n x 2 = 2n
- 
- 
- so on... till 10.

In [26]:
n = 12
for i in range(1,11):
    print(i*n)

12
24
36
48
60
72
84
96
108
120