1. Print the following pattern for 8 lines.

![image.png]()

In [1]:
n = 5
for i in range(1,n+1):
    for j in range(i,n+1):
        print('*',end=' ')
    print()

* * * * *
* * * *
* * *
* *
*

2. Write a Python program to convert them into a dictionary in a way that item from list1 is the key and item from list2 is the value.

list1 = ['India', 'USA', 'China']

list2 = [1, 2, 3]

In [11]:
list1 = ['India', 'USA', 'China']
list2 = [1, 2, 3]
new_dict = dict(zip(list1,list2))
new_dict

{'India': 1, 'USA': 2, 'China': 3}

3. Merge 2 dictionaries into 1.
- dict1 = {'India': 1, 'USA': 2, 'China': 3}
- dict2 = {'UK': 4, 'Japan': 5, 'Russia': 6}

In [1]:
dict1 = {'India': 1, 'USA': 2, 'China': 3}
dict2 = {'UK': 4, 'Japan': 5, 'Russia': 6}
merge_dict = dict1|dict2
merge_dict

{'India': 1, 'USA': 2, 'China': 3, 'UK': 4, 'Japan': 5, 'Russia': 6}

In [5]:
dict1 = {'India': 1, 'USA': 2, 'China': 3}
dict2 = {'UK': 4, 'Japan': 5, 'Russia': 6}
merge_dict = dict1.copy()
merge_dict.update(dict2)
print(merge_dict)

{'India': 1, 'USA': 2, 'China': 3, 'UK': 4, 'Japan': 5, 'Russia': 6}

In [7]:
dict1 = {'India': 1, 'USA': 2, 'China': 3}
dict2 = {'UK': 4, 'Japan': 5, 'Russia': 6}
merge_dict = {**dict1,**dict2}
print(merge_dict)

{'India': 1, 'USA': 2, 'China': 3, 'UK': 4, 'Japan': 5, 'Russia': 6}

4. Check if a value exists in a dictionary or not.
- sample_dict = {'India': 1, 'USA': 2, 'China': 3}
- check if 2 exists in the dictionary or not and print "2 present in dictionary" if it exists.

In [9]:
sample_dict = {'India': 1, 'USA': 2, 'China': 3}
if 2 in sample_dict.values():
    print('2 is present in dictionary.')

2 is present in dictionary.

5. Get the key of a minimum value from the following dictionary.
 - sample_dict = {'India': 19, 'USA': 27, 'China': 76}

In [13]:
sample_dict = {'India': 19, 'USA': 27, 'China': 76}
print(min(sample_dict,key = sample_dict.get))

India

6. Check if two sets have any elements in common. If yes, display the common elements
- set1 = {10, 20, 30, 40, 50}
- set2 = {60, 70, 80, 90, 10}

In [19]:
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}
comm_ele = set1.intersection(set2)
if comm_ele:
    print('Common element :',comm_ele)
else:
    print('No common element')

Common element : {10}

7. Remove items from set1 that are not common to both set1 and set2
- set1 = {10, 20, 30, 40, 50}
- set2 = {60, 70, 80, 90, 10}

In [23]:
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}
set1.intersection_update(set2)
set1

{10}

8. Turn every item of a list into its square.

In [29]:
numbers = [1, 2, 3, 4, 5, 6, 7,8,9,10]
sq_list = []
for i in numbers:
    sq_list.append(i**2)

print(sq_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

9. Write a program that takes a number and checks whether it is a palindrome or not.

In [25]:
n = 12321
a=n
rem=0
res=0
while n>0:
    rem = n%10
    res = res*10+rem
    n=n//10

if res==a:
    print(a,'is palindrome')
else:
    print(a,'is not a palindrome')

12321 is palindrome

10. A positive 3-digit integer is called an Armstrong number if sum of cubes of all digits of the number = the number. e.g: 153 = 1^3 + 5^3 + 3^3. 
Write a program to check if a 3-digit number is an Armstrong Number.

In [21]:
n = 153
a=n
rem=0
sum = 0
while n>0:
    rem = n%10
    sum = sum + (rem**3)
    n=n//10

if a==sum:
    print(a,'is an armstrong num')
else:
    print(a,'is not an armstrong num')

153 is an armstrong num

####