The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1.
For example, 0, 1, 1, 2, 3, 5,8,13. The next number in this series above is 8+13 = 21 Print first 9 terms of the Fibonacci series.

In [2]:
n1=0
n2=1
print(n1)
print(n2)
for i in range(1,10):
    n3=n1+n2
    print(n3)
    n1=n2
    n2=n3

0
1
1
2
3
5
8
13
21
34
55

Write a python code to convert celsius to farenheit scale.

In [7]:
celcius = float(input('Temperature value in degree celcius'))
Fahrenheit = celcius*(9/5)+32
print(celcius,'in fahrenheit is', Fahrenheit)

Temperature value in degree celcius 32

32.0 in fahrenheit is 89.6

Write a program to find distance between 2 points (x1,y1) and (x2,y2)

In [20]:
m = [6,7]
n = [3,11]
distance = (((m[0]-n[0])**2) + ((m[1]-n[1])**2))**0.5
distance

5.0

Given is a nested tuple. Write a program to modify the first item (30) of a list inside the following tuple to 300.

In [25]:
tuple1 = (11, [30, 33], 44, 55)
tuple1[1][0]=300
tuple1

(11, [300, 33], 44, 55)