##### 1 WAP to caculate the sum of numbers from 1 to 10 using for loop

In [3]:
sum=0
for i in range(1,11):
    sum=sum+i
    i=i+1
print(sum)

55

##### 2 WAP to print the elements of a list

In [6]:
list1=[2,4,0,3,5]
for i in list1:
    print(i)

2
4
0
3
5

##### 3 WAP to calculate the product of elements in a list

In [11]:
list1=[2,4,1,3,5]
product=1
for i in list1:
    product*=i
    i=i+1
print(product)

120

##### 4 WAP to print even numbers from 1 to 10

In [14]:
for i in range(1,11):
    if i%2==0:
        print(i)

2
4
6
8
10

##### 5 WAP to print numbers in reverse from 10 to 1

In [26]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

##### Pattern 1

In [5]:
n=5
for i in range(1,n+1):
    for j in range(i,n+1):
        print(' ',end=' ')
    for j in range(1,i+1):
        if i%2==0:
            print('b',end=' ')
        else:
            print('a',end=' ')
    for j in range(2,i+1):
        if i%2==0:
            print('b',end=' ')
        else:
            print('a',end=' ')
    print()

          a
        b b b
      a a a a a
    b b b b b b b
  a a a a a a a a a

##### Pattern 2

In [1]:
n=5
for i in range(1,n+1):
    for j in range(1,i+1):
        print(' ',end=' ')
    for j in range(i,n+1):
        if i%2==0:
            print(0,end=' ')
        else:
            print(1,end=' ')
    for j in range(i+1,n+1):
        if i%2==0:
            print(0,end=' ')
        else:
            print(1,end=' ')
    print()

  1 1 1 1 1 1 1 1 1
    0 0 0 0 0 0 0
      1 1 1 1 1
        0 0 0
          1

##### Pattern 3

In [15]:
n=5
p=1
for i in range(1,n+1):
    for j in range(i,n+1):
        print(' ',end=' ')
    for j in range(1,i+1):
        print(p,end=' ')
    for j in range(2,i+1):
        print(p,end=' ')
    p=p+1
    print()

for i in range(2,n+1):
    for j in range(1,i+1):
        print(' ',end=' ')
    for j in range(i,n+1):
        print(p,end=' ')
    for j in range(i+1,n+1):
        print(p,end=' ')
    p=p+1``
    print()

          1
        2 2 2
      3 3 3 3 3
    4 4 4 4 4 4 4
  5 5 5 5 5 5 5 5 5
    6 6 6 6 6 6 6
      7 7 7 7 7
        8 8 8
          9

##### Pattern 4

In [7]:
n=5
p=1
for i in range(1,n+1):
    for j in range(i,n+1):
        print(' ',end=' ')
    for j in range(1,i+1):
        print(p,end=' ')
    for j in range(2,i+1):
        print(p,end=' ')
    p=p+1
    print()
k=4
for i in range(2,n+1):
    for j in range(1,i+1):
        print(' ',end=' ')
    for j in range(i,n+1):
        print(k,end=' ')
    for j in range(i+1,n+1):
        print(k,end=' ')
    k=k-1
    print()

          1
        2 2 2
      3 3 3 3 3
    4 4 4 4 4 4 4
  5 5 5 5 5 5 5 5 5
    4 4 4 4 4 4 4
      3 3 3 3 3
        2 2 2
          1

##### Pattern 5

In [11]:
n=5
for i in range(1,n+1):
    p=1
    for j in range(1,i+1):
        print(p,end=' ')
        p=p+1
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5