##### 1 WAP to create a tuple

In [3]:
t1=(1,4,8,7,5,2,3,3,6)
t1

(1, 4, 8, 7, 5, 2, 3, 3, 6)

##### 2 WAP to create a tuple with different data types

In [7]:
t1=('Name',24,89.6,True)
t1

('Name', 24, 89.6, True)

##### 3 WAP to create a tuple of numbers and print one item

In [7]:
t1=(4,8,7,5,2,3,6,6,9)
t1[4]

2

##### 4 WAP to unpack a tuple into several variables

In [15]:
t1=(4,5,2,8)
a,b,c,d = t1
print(f'a = {a}')
print(f'b = {b}')
print(f'c = {c}')
print(f'd = {d}')

a = 4
b = 5
c = 2
d = 8

##### 5 WAP to add an item into a tuple

In [35]:
t1=(4,5,2,8)
t1=t1+(9,)
t1

(4, 5, 2, 8, 9)

In [37]:
t1=t1+(3,5,)
t1

(4, 5, 2, 8, 9, 3, 5)

##### 6 WAP to convert a tuple into a string

In [39]:
t1=('g','o','o','g','l','e')
string=''.join(t1)
string

'google'

In [47]:
t1=('g','o','o','g','l','e')
string=''
for i in t1:
    string=string+i
print(string)

google

##### 7 WAP to get the 4th element from the last element of a tuple

In [53]:
t1=(8,7,5,4,1,3,2,6,9,7,2,5,6)
if len(t1)<4:
    print("The tuple has less than 4 elements.")
else:
    print(t1[-4])

7

##### 8 WAP to create the clone(copy) of a tuple

In [67]:
t1=('Hello',24,'xyz',False,6)
t2=(t1)
t2

('Hello', 24, 'xyz', False, 6)

##### 9 WAP to find repeated items in a tuple

In [115]:
t1=(8,7,5,4,1,7,7)
count=t1.count(7)
count

3

##### 10 WAP to check whether an element exists within a tuple

In [119]:
t1=('Hello',24,'xyz',False,6)
24 in t1

True