##### Pattern 1 Right pascal

In [2]:
n=5
for i in range(1,n+1):
    for j in range(i,n+1):
        print(" ",end=" ")
    for j in range(1,i+1):
        print("*",end=" ")
    print()

for i in range(2,n+1):
    for j in range(1,i+1):
        print(" ",end=" ")
    for j in range(i,n+1):
        print("*",end=" ")
    print()

          *
        * *
      * * *
    * * * *
  * * * * *
    * * * *
      * * *
        * *
          *

##### Pattern 2    Sandglass

In [10]:
n=5
for i in range(1,n+1):
    for j in range(1,i+1):
        print(" ",end="")
    for j in range(i,n+1):
        print("*",end=" ")
    print()
for i in range(2,n+1):
    for j in range(i,n+1):
        print(" ",end="")
    for j in range(1,i+1):
        print("*",end=" ")
    print()

 * * * * *
  * * * *
   * * *
    * *
     *
    * *
   * * *
  * * * *
 * * * * *

##### Pattern 3 Hollow square

In [15]:
n=5
for row in range(n):
    for col in range(n):
        if row==0 or row==4 or col==0 or col==4:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

* * * * *
*       *
*       *
*       *
* * * * *

#### 4 WAP to print first 10 natural numbers.

In [20]:
for i in range(0,11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

##### 5 WAP to print all the even numbers within the given range

In [24]:
for i in range(1,25):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24